@model NewsMedia.Models.UserProfile
@{
    ViewBag.Title = "Author";
}

<h2>Author Page</h2>

<h4>Username:</h4>

<div>@Html.DisplayFor(model => model.UserName)</div>

<h4>FirstName:</h4>

<div>@Html.DisplayFor(model => model.firstName)</div>

<h4>LastName:</h4>

<div>@Html.DisplayFor(model => model.lastName)</div>

<h4>Email:</h4>

<div>@Html.DisplayFor(model => model.email)</div>

